In [4]:
import pandas as pd
import numpy as np
import env
import os
from sklearn.model_selection import train_test_split
from wrangle_zillow import acquire_zillow
import warnings
warnings.filterwarnings("ignore")

# Exercises

## Acquire and Summarize

### Acquire data from the cloud database.
You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [5]:
df = acquire_zillow()
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,id.1,logerror,transactiondate
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,0,0.025595,2017-01-01
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,1,0.055619,2017-01-01
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN,2,0.005383,2017-01-01
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN,3,-0.103410,2017-01-01
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,Central,NaN,NaN,Central,Condominium,NaN,NaN,4,0.006940,2017-01-01

In [42]:
df['id'].value_counts()>1

id
1968735     True
1925856     True
709378      True
616260      True
950579      True
           ...
1318130    False
2188978    False
1584716    False
1487496    False
1187175    False
Name: count, Length: 77381, dtype: bool

### Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

### Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

The output should look like the table below:

	 				num_rows_missing		pct_rows_missing
	parcelid			0				0.000000
	airconditioningtypeid		29041				0.535486
	architecturalstyletypeid	54232				0.999982

## Prepare

### Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [ ]:
df[df.propertylandusedesc == 'Single Family Residential']

###  Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).
- The input:
  - A dataframe
  - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
  - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
  - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
  - Look up the dropna documentation.
  - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

### Encapsulate your work inside of functions in a wrangle_zillow.py module.